!!! Strict
%html{"xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title Rego/Login/Logout Example
    %style{:type => "text/css", :media => :screen}
      :plain
        body { font: 12px/21px Gotham }
  %body
    %script{:src => "http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php", :type => "text/javascript"}
    %script{:type => "text/javascript"}
      == var api_key = '#{$api_key}';
      :plain
        FB_RequireFeatures(["Connect"], function(){
          FB.Connect.logoutAndRedirect(api_key, '/connect',{"reloadIfSessionStateChanged":true});
        });

    - if logged_in?
      %h1&== Welcome #{facebook_user.name}!
      %h1&== UID #{facebook_user.uid}!

      %a{:href => "#", :onclick => "FB.Connect.logoutAndRedirect('/')"} Log out
      %a{:href => "#", :onclick => "FB.Connect.showPermissionDialog('publish_stream','permissionHandler','true');"} Allow
      %a{:href => "#", :onclick => "FB.Connect.streamPublish('',{'name':'weebe.es/','href':'','description':'Just shortened & shared using weebe.es','media':[{'type':'image','src':'http://images.websnapr.com/?size=S&key=76l78ieSa5UB&url=','href':'http://weebe.es/'}]},[{'text':'Shared 122 times with weebe.es','href':'http://weebees.heroku.com'}],null,'Just Shared a link with weebe.es',null,false,'327364725313');"} Publish
      %a{:href => "#", :onclick => "FB.Facebook.apiClient.fql_query('SELECT uid,name,pic_square FROM user WHERE uid IN (SELECT uid2 FROM friend WHERE uid1=' + api.get_session().uid + ') ', function(result, ex) {var friendList = result;"} Friends

      %a{:href => "#", :onclick => "FB.Connect.logoutAndRedirect('/')"} LogoutÉ


      
    - else
      %h1 Log in
      %a{:href => "#", :onclick => "FB.Connect.requireSession(); return false;"}
        %img{:src => "http://static.ak.fbcdn.net/images/fbconnect/login-buttons/connect_light_medium_long.gif", :alt => "Connect"}/
